@page
@model SmartAttendWeb.Pages.AttendanceApprovedModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartAttend - University Attendance Management</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section class="centered-content">
        <h1>Attendance Approved</h1>
        <div class="tick-container">
            <p>Your attendance has been approved</p>
            <img src="~/resources/greenTick.svg" alt="Green Tick" id="green-tick" />
        </div>
    </section>
</body>
</html>

