@page
@model SmartAttendWeb.Pages.StudentDashboardModel
@{

    Layout = "_AttendStudentLayout"; // Set the layout to a different layout file

}

<h1 style="color: blue;">Student Dashboard</h1>

<h1>Hi Mpho</h1>
<p>Welcome to your dashboard</p>
<p>Today's attendance</p>

<p>Check Attendance Report</p>

